.dates {
    min-width: 100px;
  }
  
  .fields {
    min-width: 100px;
  }
  
  h3 {
    font-weight: 500;
  }
  h4 {
    color: rgb(32, 155, 193);
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 10px;
  }
  
  h4:before {
    content: "- ";
  }
  
  h4:after {
    content: " -";
  }
  
  p {
    font-size: 16px;
  }